h1 {
    color: sienna;
}

h2 {
    color: silver;
}

h3 {
    color: skyblue;
}

h4 {
    color: slateblue;
}

h5 {
    color: teal;
}

h6 {
    color: tomato;
}


body {
    background-color: darkred;
}

