/*div {
    color: darkred;
}*/

/*.One {
    color: purple;
}

.Two {
    color: green;
}

.textyellow {
    color: ;
}*/

#second {
    color: orange;
    font-size: 40px;
}

.sizesixty {
    font-size: 60px;
    color: green;
}
.textred {
    color: red;
}

p {
    color: blue;
}
