h1 { 
    color: cadetblue;
}

h2 {
    color: crimson;
}

h3 {
    color: darkmagenta;
}

h4 {
    color: gold;
}

h5 {
    color: lime;
}

h6 {
    color: sienna;
}

body {
    background-color: black;
}